
#NODE ENV
NODE_ENV=dev

#docker database container name
DB_HOST=localhost

#db user
DB_USER=backend

#db password
DB_PASSWORD=dc2021backend

#db name
DB_NAME=dc

#replica set
DB_REPLICA_SET=dcrs

#db port
DB_PORT=27017

#backend poxrt
BACKEND_PORT=3200

#secret to sign access token in backend
JWT_ACCESS_TOKEN_SECRET=backenddc2021

#access token expiration time in seconds
JWT_ACCESS_TOKEN_EXPIRATION_TIME=900

#secret to sign refresh token in backend
JWT_REFRESH_TOKEN_SECRET=backenddc2021refresh

#refresh token expiration time in days
JWT_REFRESH_TOKEN_EXPIRATION_TIME=1

#enable azure authentication module
AZURE_ENABLE=false

#azure client ID
AZURE_CLIENT_ID=

#azure client secret
AZURE_CLIENT_SECRET=

#azure tenant ID
AZURE_TENANT_ID=